/* Arriba | Derecha | Abajo | Izquierda */
.main {
    background-color: #D3E9E0;
    margin: 0 15% 0 15%;
    padding: 10px 5% 10px 5%;
}

.titles {
    text-align: center;
}

.parag {
    text-align: center;
    font-size: large;
}

.parag1 {
    text-align: center;
    font-size: large;
    margin: 10px 0 0 0;
}

.step {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.infoStep {
    margin: 0 10px 10px 2%;
}

.dataStep {
    display: flex;
    flex-direction: column;
    margin: 0 2% 0 10px;
}

.results {
    text-align: center;
}

.eq_variables {
    display: flex;
    justify-content: center;
}