{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <title>IEC60895 busbar calculation tool | </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock head %}

{% block body %}
    
    {% block navbar %}
        {% include "navbar.html" %}
        {% include "navbarcal.html" %}    
    {% endblock navbar %}
        
{% endblock body %}