{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
    {{ super() }}

    <form action="{{ url_for('calc') }}" method='POST'>
        {{ wtf.quick_form(calc_form, form_type='horizontal', horizontal_columns=('lg', 4, 2)) }}
    </form>
    
    <!--<form action="{{ url_for('calc') }}" method="POST">
 
        <div>
            <h1>Step 1: Project data</h1>

            {{calc_form.project_title.label()}}
            {{calc_form.project_title()}}

            {{calc_form.system_voltage.label()}}
            {{calc_form.system_voltage()}}

            {{calc_form.system_frecuency.label()}}
            {{calc_form.system_frecuency()}}

            {{calc_form.shortcircuit_current.label()}}
            {{calc_form.shortcircuit_current()}}
        </div>
        <div>
            <h1>Step 2: Busbar data</h1>

            {{calc_form.facing_type.label()}}
            {{calc_form.facing_type()}}

            {{calc_form.busbar_width.label()}}
            {{calc_form.busbar_width()}}

            {{calc_form.busbar_thickness.label()}}
            {{calc_form.busbar_thickness()}}

            {{calc_form.phase_distance.label()}}
            {{calc_form.phase_distance()}}
        </div>
        <div>
            <h1>Step 3: Disposal data</h1>

            {{calc_form.span_number.label()}}
            {{calc_form.span_number()}}
            
            {{calc_form.support_distance.label()}}
            {{calc_form.support_distance()}}
        </div>
        <div>
            <h1>See the results</h1>
        </div>
        {{calc_form.submit()}}
    </form>-->

{% endblock body %}