{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
    {{ super() }}

    <form action="/" method='POST'>
        {{ wtf.quick_form(system_form, form_type='horizontal', horizontal_columns=('lg', 4, 2)) }}
    </form>

    <form action="/" method='POST'>
        {{ wtf.quick_form(busbar_form, form_type='horizontal', horizontal_columns=('lg', 4, 2)) }}
    </form>

    <form action="{{ url_for('calc') }}" method='POST'>
        {{ wtf.quick_form(disposal_form, form_type='horizontal', horizontal_columns=('lg', 4, 2)) }}
    </form>

{% endblock body %}