{% extends "base.html" %}

{% block body %}
    {{ super() }}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Step 1: electric system</a></li>
        <li role="presentation"><a href="#">Step 2: busbar arrange</a></li>
        <li role="presentation"><a href="#">Step 3: busbar disposal</a></li>
        <li role="presentation"><a href="#">Step 4: busbar heating</a></li>
        <li role="presentation"><a href="#">Results</a></li>
    </ul>
{% endblock body %}