<nav class="navbar navbar-inverse">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="{{ url_for('step_one') }}">Step 1: electric system</a></li>
        <li role="presentation"><a href="{{ url_for('step_two') }}">Step 2: busbar arrangement</a></li>
        <li role="presentation"><a href="{{ url_for('step_three') }}">Step 3: busbar disposal</a></li>
        <li role="presentation"><a href="{{ url_for('results') }}">Results</a></li>
    </ul>
</nav>