<nav class="navbar navbar-default navbar-static-top">
    <div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="busbar" src="/static/images/busbar.jpg" style="max-width:48px">
            </a>
        </div>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="">About this app</a></li>
            <li role="presentation"><a href="">About me</a></li>
            <li role="presentation"><a href="">Other apps</a></li>
        </ul>
    </div>
</nav>